<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/profile">Perfil</a></li>
    </ul>
</nav>