{{>navbar}}
<h1>Completar los datos de tu cuenta:</h1>
<form>
    <label for="nombre">Nombre</label>
    <input id="inputNombre" name="nombre" type="text" placeholder="nombre"><br>
    <label for="apellido">Apellido</label>
    <input id="inputApellido" type="text" name="apellido" placeholder="apellido"><br>
    <label for="password">Contraseña</label>
    <input id="inputPassword" type="text" name="password" placeholder="password"><br>
    <button type="submit">Modificar</button>
</form>
<script src="/static/js/edit.js"></script>