{{>navbar}}
<h1>Tu perfil:</h1>
<p>Nombre: {{nombre}}</p>
<p>Apellido: {{apellido}}</p>
<p>Email: {{email}}</p>

<p><a href="/edit">Editar datos de tu perfil</a></p>

<form>
    <button type="submit">Cerrar sesion</button>
</form>

<script src="/static/js/profile.js"></script>